.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: center;
  }
  
  .contact-h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  .contact-label {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .contact-email , .contact-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  }
  
  .contact-textarea {
    resize: none;
  }
  
  .contact-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #3e8e41;
  }
  
  .contact-email:focus, .contact-textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px #4CAF50;
    background-color: #fff;
  }
  
 
  
  